body{
    background-color: ghostwhite;
    font-family: 'Comfortaa', cursive;
}

.general-header{
    width: 100%;
    background-color: yellowgreen;
}

.header__item-wrapper {
    float: left;
    text-align: center;
    line-height:  35px;
    height: 35px;
    background-color: yellowgreen;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.header__item{
    display: block;
    color: black; /* цвет текста */
}

.header__item-wrapper:nth-of-type(2n-1){
    width: 30%;
}

.header__item-wrapper:nth-of-type(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 40%;
}

.clr{
    clear: both;
}

.header__item-wrapper:hover { background: #FFB869; } /* при наведении курсора мышки */
.header__item-wrapper:active { background: #FFB893; } /* при нажатии */

.div__boxes-parent {
    display: flex;
    justify-content: space-between;
}

.div__width-box{
    width: 33.3%;
}

.language-element{
    margin: 30px auto;
    text-align: center;
}

.div__language-box__select p{
    width: 50%;
    padding: 15px;
    background-color: #C0F400;
    border: 1px solid black;
    border-radius: 10px;
}

.div__language-box__select select {
    margin: 10px;
    padding: 3px;
    background-color: #FFB869;
    border-radius: 10px;
}

.div__language-box__button {
    text-align: center;
    margin: auto;
}

.toggle-button{
    height: 40px;
    width: 130px;
    border-radius: 10px;
    color: ghostwhite;
    background-color: #B40017;
}

.div__textArea{
    text-align: center;
    height: 200px;
}

.textArea{
    padding: 10px;
    margin: 10px;
    height: 80%;
    width: 85%;
    resize: none;
    background: #FFB869;
    border: 1px solid black;
    border-radius: 10px;
}

.answers-list-form{
    padding: 10px;
    margin: 10px;
    height: 80%;
    width: 85%;
    resize: none;
    background: #FFB869;
    border: 1px solid black;
    border-radius: 10px;
    overflow:auto;
    hyphens: auto;
}

.answers-list{
    display: block;
}

.answers-list li label{
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: red;
}

.answers-list li label:hover{
    background-color: #C0F400;
}

.answers-list li input[type=checkbox]:checked + label{
    background: yellowgreen;
}

.send-answers-button{
    height: 30px;
    width: 45%;
    border-radius: 10px;
    color: ghostwhite;
    background-color: #B40017;
}

.div__translate-button{
    text-align: center;
    margin-top: 3%;
}

.translate-button{
    height: 60px;
    width: 220px;
    border-radius: 10px;
    color: ghostwhite;
    background-color: #B40017;
}

#div__modal-window {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#modal-window {
    width: 40%;
    height: 70%;
    text-align: center;
    padding: 15px;
    border: 3px solid black;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

#div__modal-window:target {display: block;}

.close__modal-window {
    display: inline-block;
    border: 1px solid black;
    color: black;
    padding: 7px;
    margin: 10px;
    text-decoration: none;
    background: #C0F400;
    font-size: 14pt;
    border-radius: 10px;
    cursor:pointer;
}

.close__modal-window:hover {background: yellow;}

.div__loading{
    width: 100px;
    height: 100px;
    display: none;
    margin: 20px auto;
}

.loading-gif{
    width: 100%;
    height: 100%;
}
