.div__received-button{
    text-align: center;
    margin: auto;
}

.receive-button{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: 3px solid gold;
    color: gold;
    font-size: 16px;
    background-color: #B40017;
}

.div__saved-words-table{
    table-layout: fixed;
    width: 80%;
    height: 50%;
    padding: 10px;
    margin: 20px auto;
    display: none;
}

.saved-words-table{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

table {
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
}

th {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    padding: 10px 20px;
    background: #F8E391;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}